streamlit
fastf1
pandas
numpy
plotly
matplotlib
scipy
duckduckgo-search
llama-index
llama-index-llms-google-genai
llama-index-core
google-generativeai
qdrant-client
python-dotenv
tenacity
llama-index-embeddings-huggingface
