version: '3.8'

services:
  pitwall-ai:
    build:
      context: ..              # [중요] 빌드 기준점을 한 단계 위(프로젝트 루트)로 설정
      dockerfile: Docker/Dockerfile  # Dockerfile의 위치 지정
    container_name: pitwall-ai-container
    ports:
      - "8501:8501"
    volumes:
      # [경로 수정] docker-compose 파일 위치 기준 한 단계 위(../)를 가리켜야 함
      
      # 캐시 폴더 마운트
      - ../app/cache:/app/app/cache
      
      # 데이터 폴더 마운트
      - ../data:/app/data
      
      
    environment:
      # .env 파일이 루트에 있다면 경로 지정이 필요하거나, 직접 주입
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    restart: unless-stopped